<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastModified</key>
	<date>2016-12-09T22:58:36Z</date>
	<key>tasks</key>
	<array>
		<dict>
			<key>taskID</key>
			<string>1</string>
			<key>taskName</key>
			<string>Large Metal Sculpture</string>
			<key>locationName</key>
			<string>The Sentinel</string>
			<key>latitude</key>
			<string>43.084710</string>
			<key>longitude</key>
			<string>-77.674351</string>
			<key>hint</key>
			<string>Towering above the surrounding buildings, this sculpture is often mistaken for scrap metal. It is said if you view the sculpture from the right angle, it looks like a knight riding towards the school. The sculpture is also rumored to be RIT&apos;s weather machine.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>2</string>
			<key>taskName</key>
			<string>Religious Center</string>
			<key>locationName</key>
			<string>Schmitt Interfaith Center</string>
			<key>latitude</key>
			<string>43.084100</string>
			<key>longitude</key>
			<string>-77.673452</string>
			<key>hint</key>
			<string>Where people of all faiths come to congreate during the week between a place to sweat and a place to score some free gum. This place is also the home of the RIT bells.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>3</string>
			<key>taskName</key>
			<string>Free Gum Hotspot</string>
			<key>locationName</key>
			<string>Campus Center</string>
			<key>latitude</key>
			<string>43.084214</string>
			<key>longitude</key>
			<string>-77.673876</string>
			<key>hint</key>
			<string>When lost or have questions, this is the central place to find some help. You can also find the old swimming hall bleachers here as a fountain and a dozen organization offices.  You can find it in the building across from the Clark Gym.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>4</string>
			<key>taskName</key>
			<string>RIT&apos;s Radio Station</string>
			<key>locationName</key>
			<string>WITR FM Desk</string>
			<key>latitude</key>
			<string>43.084261</string>
			<key>longitude</key>
			<string>-77.674646</string>
			<key>hint</key>
			<string>Inside the Student Alumni Union, you can discover Tiger DJs broadcasting indie tunes through a glass window while snacking on ice cream or on Nathan&apos;s.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>5</string>
			<key>taskName</key>
			<string>Home of the Tiger Library</string>
			<key>locationName</key>
			<string>The Wallace Center</string>
			<key>latitude</key>
			<string>43.083922</string>
			<key>longitude</key>
			<string>-77.676333</string>
			<key>hint</key>
			<string>Located in the center of campus, this building is the Tiger&apos;s hunting ground for book rentals and compuers to use. Tigers also use this spot to study, nap, and print assignments.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>6</string>
			<key>taskName</key>
			<string>Find the Music Record Wall</string>
			<key>locationName</key>
			<string>Java Wally&apos;s Record Wall</string>
			<key>hint</key>
			<string>Located in one of RIT&apos;s major coffee spots, the aptly decorated wall features records from the past. You can find the wall in the same building as the library.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>30</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>7</string>
			<key>taskName</key>
			<string>Snag a comfty coffee couch </string>
			<key>locationName</key>
			<string>java Wally&apos;s lounge</string>
			<key>hint</key>
			<string>The coveted couches in a hip coffee spot are hard to get during it&apos;s busiest hours. It&apos;s not an uncommon to see Tigers catch a snooze between classes here.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>30</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>8</string>
			<key>taskName</key>
			<string>The Secret Garden</string>
			<key>locationName</key>
			<string>Kodak Quad Zen Garden</string>
			<key>latitude</key>
			<string>43.084717</string>
			<key>longitude</key>
			<string>-77.675948</string>
			<key>hint</key>
			<string>Hidden in Kodak Quad, this small garden is a place to relax by a koi pond and a mini waterfall.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>40</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>9</string>
			<key>taskName</key>
			<string>Tiger Art Gallery</string>
			<key>locationName</key>
			<string>Bevier Gallery</string>
			<key>latitude</key>
			<string>43.084989</string>
			<key>longitude</key>
			<string>-77.677018</string>
			<key>hint</key>
			<string>One of many spots on campus for Tigers to showcase art, this gallery is located in Booth. The gallery often showcases the work and styles of multiple CIAS discplines.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>30</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>10</string>
			<key>taskName</key>
			<string>Find the Silver Infinity </string>
			<key>locationName</key>
			<string>Infinity Quad</string>
			<key>hint</key>
			<string>This infinity symbol rotates slowly so Tigers can view the inifinity at different angles throughout the day. The symbol is located in a quad named after this symbol between the Engineering, Science, and Art buildings.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>11</string>
			<key>taskName</key>
			<string>Brand new hockey</string>
			<key>locationName</key>
			<string>Gene Polisseni Center</string>
			<key>latitude</key>
			<string>43.082677</string>
			<key>longitude</key>
			<string>-77.674620</string>
			<key>hint</key>
			<string>This ice rink is where Tigers gather to watch hockey. One of two rinks on campus, this one is newer, bigger, and better.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>12</string>
			<key>taskName</key>
			<string>The Success Machine</string>
			<key>locationName</key>
			<string>Office of Career Services</string>
			<key>latitude</key>
			<string>43.086064</string>
			<key>longitude</key>
			<string>-77.675464</string>
			<key>hint</key>
			<string>This place is home to RIT&apos;s career services and co-op program. Every semester this office hosts a career fair to help Tigers score internships, co-ops, and Fulltime jobs.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>25</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>13</string>
			<key>taskName</key>
			<string>Selfie with RITchie</string>
			<key>locationName</key>
			<string>Unknown</string>
			<key>hint</key>
			<string>Known to show up at sporting events, the Tiger&apos;s beloved mascot provides morale and fun whereever he goes.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>50</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>14</string>
			<key>taskName</key>
			<string>Dine at Grace Waston Hall</string>
			<key>locationName</key>
			<string>Grace Waston Hall</string>
			<key>hint</key>
			<string>This food spot is the cornerstone of ever Tiger&apos;s freshman year. Gracies provides a buffet style to its hungry patrons. You can find it on dormside, close to ResLife.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>15</string>
			<key>taskName</key>
			<string>Ride RITchie</string>
			<key>locationName</key>
			<string>Center of Campus</string>
			<key>hint</key>
			<string>Not to be confused with the living RITChie, this bronze statue showcases the Tigers best side: fierce and determined. You can find him roraing in the middle of campus.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>16</string>
			<key>taskName</key>
			<string>Run Tiger Run</string>
			<key>locationName</key>
			<string>Gordon Field House</string>
			<key>latitude</key>
			<string>43.084868</string>
			<key>longitude</key>
			<string>-77.671984</string>
			<key>hint</key>
			<string>Central to campus, this gym is the hunting and sweating grounds for fellow Tigers looking to keep in shape. The building houses two tracks, a weight room, olympic size pool, a recreation pool, various basketball and raquet ball courts, and various dance studios. </string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>17</string>
			<key>taskName</key>
			<string>Hidden from the sun</string>
			<key>locationName</key>
			<string>Sol&apos;s Underground</string>
			<key>latitude</key>
			<string>43.085558</string>
			<key>longitude</key>
			<string>-77.667156</string>
			<key>hint</key>
			<string>Down underneath the dorms, there is a complex ecosystem consisting of tunnels. Here you can find a popular grub spot for fellow dorm residing Tigers.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>25</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>18</string>
			<key>taskName</key>
			<string>Snap a picture with tunnel art</string>
			<key>locationName</key>
			<string>RIT</string>
			<key>hint</key>
			<string>RIT contains a fairly large tunnel system under the various buildings across campus. Tigers thought naturally of course, that they better make it look pretty!</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>25</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>19</string>
			<key>taskName</key>
			<string>Deaf theatre</string>
			<key>locationName</key>
			<string>Robert Panera Theatre</string>
			<key>latitude</key>
			<string>43.087188</string>
			<key>longitude</key>
			<string> -77.668315</string>
			<key>hint</key>
			<string>Housed in the college dedicated to supporting the Deaf Tiger community, this theatre is known for putting on productions that includes both signing and speech to include all Tigers.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>40</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>20</string>
			<key>taskName</key>
			<string>Groceries on the go</string>
			<key>locationName</key>
			<string>Corner Store</string>
			<key>latitude</key>
			<string>43.084766</string>
			<key>longitude</key>
			<string>-77.667278</string>
			<key>hint</key>
			<string>This store is known for staying open until 2am to allow hungry Tigers to refill while studying. You can find this store buried in the basement because there&apos;s no way a Tiger is going to brave the cold.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>21</string>
			<key>taskName</key>
			<string>Walk on water</string>
			<key>locationName</key>
			<string>Rock Fountation</string>
			<key>hint</key>
			<string>This fountain is often used in photoshoots to give the appearance that people are walking on water. Typically they use the rocks to help them acheive this goal.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>22</string>
			<key>taskName</key>
			<string>Burning the midnight oil</string>
			<key>locationName</key>
			<string>Midnight OIl</string>
			<key>latitude</key>
			<string>43.082603</string>
			<key>longitude</key>
			<string>-77.679697</string>
			<key>hint</key>
			<string>One of the many hotspots for coffee on campus, this coffeeshop sells Starbucks and snacks to help keep Tigers full and happy.</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>23</string>
			<key>taskName</key>
			<string>Warm yourself by the fire</string>
			<key>locationName</key>
			<string>Global Village</string>
			<key>hint</key>
			<string>Located in the Global Village Plaza, this spot is known to keep Tigers toasty when it&apos;s cold out. Various events, centering on global activities take place here.</string>
			<key>isActivity</key>
			<string>1</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>23</string>
			<key>taskName</key>
			<string>Tiger Productions</string>
			<key>locationName</key>
			<string>Ingle Auditorium</string>
			<key>latitude</key>
			<string>43.084078</string>
			<key>longitude</key>
			<string>-77.674276</string>
			<key>hint</key>
			<string>This spot is a popular place to see plays and performances by fellow Tigers. You can find the auditorium hidden away in the Student Alumni Union</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>20</string>
			<key>imageURL</key>
			<string></string>
		</dict>
		<dict>
			<key>taskID</key>
			<string>24</string>
			<key>taskName</key>
			<string>Retrofitted gym</string>
			<key>locationName</key>
			<string>Red Barn Climbing Gym</string>
			<key>latitude</key>
			<string>43.084303</string>
			<key>longitude</key>
			<string> -77.684760</string>
			<key>hint</key>
			<string>On the outskirts of RIT, Tigers come to this old red barn to scale walls. You&apos;ll find there&apos;s more to this building than there seems</string>
			<key>isActivity</key>
			<string>0</string>
			<key>points</key>
			<string>50</string>
			<key>imageURL</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
